/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: 'Silkscreen', monospace;
  font-weight: 100;
  color: rgba(223, 235, 79, 1);
}



/*.chars:empty:before {content: '\a0';}*/

/******************************************
/* LAYOUT
/*******************************************/
body{
  display:flex;
  flex-direction: column;
  align-items: center;
  background: url('../Images/Backgrounds/background2.png') no-repeat center center fixed;
  background-size: cover;
}
.charactersList{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chars{
  min-height: 60vh;
  width: 50vw;
  background-color: rgba(0, 60, 0, 0.5);
  
}
.charactersUl{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
button{
  margin: 10px 25%;
  width: 50%;
}
.char{
  display: inline-block;
  height: 50%;
  width: 33%;
  margin: 0px;
  text-align: center;
}

.createChar{
  height: 70vh;
  min-width: 60vw;
  background-color: rgba(0, 60, 0, 0.5);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
.dataBox{
  height: 33.33%;
  width: 20vh;
  position: relative;
  z-index: 2;
  overflow-wrap: normal;
  font-size: 0.6rem;
  padding: 5px;
  text-align: center;
}
.charCanva{
  height: 80%;
  display: flex;
  align-content: center;
  justify-content: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1, h2{
  color: lightgoldenrodyellow;
  text-align: center;
}
h3, h4{
  text-decoration: underline;
}
li{
  list-style: none;
}
p{
  margin: 5px;
}
.charCreatorCanvas{
  height: 64px;
  width: 94px;
  transform: scale(6);
  align-self: center;
  margin-left: 30%;
}

.cropped-image {
  max-width: 49px;
  max-height: 64px;
  object-fit: contain;
  object-position: top left; 
  display: block;
  overflow: hidden;
  margin: auto;
}
button, form label input{
  color: black;
}
input[type=radio] {
    display: none;
}
input[type=radio]:checked + label {
  box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
}
.dataBox label, .dataBox h3, .dataBox h4{
  font-size: 1rem;
}
input[type=text] {
  background-color: rgba(0, 60, 0, 0.5);
  color: rgba(223, 235, 79, 1);
}
.char:hover{
  box-shadow: rgba(255, 255, 255, 1) 0px 0px 0px 3px;
}
ul {
  padding: 0;
  list-style-type: none;
}
.hidden{
  display: none;
}